<div *ngIf="book">
  <a href={{book.link}} target="_blank">
    <img src="{{book.imageLink}}" alt="{{book.title}}" />
  </a>
  <div class="book-details">
    <p class="title">{{book.title}}</p>
    <p class="author">{{book.author}}</p>
  </div>

</div>