<section class="search">
  <input  (keyup)="searchTerm$.next($event.target.value)" class="form-control" placeholder="Type the Book Title or Author..." />
  <ul *ngIf="results && results.length > 0">
    <li *ngFor="let result of results | slice:0:9" >
      <a routerLink="/books/{{ result.id }}" (click)="results = []">
        {{ result.title }} ({{ result.author }})
      </a>
    </li>
  </ul>
</section>