<header class="row">
  <h1 class="logo col col-md-3">The Library</h1>
  <jump-library-search class="col col-md-9"></jump-library-search>
</header>
<main class="row">
  <jump-nav-bar class="library-navbar col col-md-3"></jump-nav-bar>
  <router-outlet></router-outlet>
</main>