<nav>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/" routerLinkActive="active"><i class="fa fa-book"></i> Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/browse" routerLinkActive="active"><i class="fa fa-search"></i> Browse</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-receipt"></i> Checked Out</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-anchor"></i> Reserved</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#"><i class="fa fa-user-circle"></i> My Account</a>
    </li>
  </ul>
</nav>