.book {
    img {
        width: 100%;
        height: 75%;
    }

    .book-details {
        background: $white;
        padding: 10px 0;

        p {
            font-size: 0.8em;
            padding: 0 10px;
            margin-bottom: 0;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &.title {
                font-size: 0.9em;
            }

            &.author {
                color: $grey;
            }

        }
    }
}
