nav.library-navbar {
    padding: 10px 0;
}
.navbar-nav {
    padding: 10px 0;
    box-shadow: $lightest-grey;
    background: $white;
    width: 80%;

    .nav-item {
        padding: 0 25px;

        .nav-link {
            .fa { display : none }

            &:hover {
                .fa { display: inline }
            }
        }

        &:hover {
            background: $primary;
        }

        a:hover {
            color: $white;
        }
    }
}