.search {
    ul {
        background: $white;
        margin-bottom: -100%;
        z-index: 1000;
        position: relative;
        top: -2px;
        padding-left: 0;
        padding-bottom: 15px;
        border-color: $grey-input-border;
        border-style: solid;
        border-width: 0 1px 1px 1px;
        list-style: none;

        li {
            color: $primary;
            padding: 10px 20px;

            a {
                text-decoration: none;
            }

            &:hover {
                background: $primary;
                cursor: pointer;

                a {
                    color: $white;
                }
            }
        }
    }
}